---
layout: layouts/home.njk
---

<div class="landingHead">

<h2 class="landingTitle">MICHAEL GILLIGAN DESIGN ENGINEERING PORTFOLIO</h2>
{# <p class="landingSubTitle">Created During My Time at Manchester
Metropolitan University 2019-2022

Design Engineering BSc</p> #}
</div>
<section class="intro">
<p class="blurb">My name is Michael Gilligan and this is my portfolio of work that I created during my time studying at Manchester metropolitan university through the years of 2019 - 2022 . The work consists of designs that have either been made from scratch using my own design skills to come up with the solution, or handed a brief by a client coming to us with a problem and finding an outcome that is feasible and works best for the clients product itself. Feel free to use any of the below links to message me or to leave a comment on what you think of my portfolio so far.</p>
<button class="button" style="vertical-align:middle"><span> <a href="/projects">To designs</a> </span></button>

<ul class="contact">
   <li> <a href = "mailto: michaelgilligan@gmail.co.uk">michaelgilligan@gmail.co.uk</a></li>
   <li><a href = "mailto: michaelgilligan@gmail.co.uk">Linkedin: Michael Gilligan</a></li>  
</ul>

<img src="./img/pic.png" class="me"  />
</div>




{# <main class="blog-section-container">
<section class="blog-content">
 <li class="blog">
 {% set maxPosts = collections.resource.length | min(6) %} 

 {% set resourcelist = collections.resource | head(-4) %}

{% set resourcelistCounter = collections.resources | length %}
{% include "resourcelist.njk" %}

</li> 
</section>

<section class="apprentice-section">
<section class="tag-section">
{% for tag in collections.tagList | filterTagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
</section>
<li class="apprentice-blog">
 {% set maxPosts = collections.posts.length | min(4) %}

{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the apprenticeship section</a>.</p>
</li>
</section>

</main> #}