---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<main>
<div class="landingHead">

<h2 class="landingTitle">MICHAEL GILLIGAN DESIGN ENGINEERING PORTFOLIO</h2>
{# <p class="landingSubTitle">Created During My Time at Manchester
Metropolitan University 2019-2022

Design Engineering BSc</p> #}
</div>
<section class="intro">
<p class="blurb">My name is Michael Gilligan and this is my portfolio of work from my time studying at Manchester Metropolitan University from 2019 - 2022. The work consists of designs that have been designed from scratch by me, or based on client briefs. Feel free to use any of the below links to message me or to leave any feedback on my portfolio.</p>
<button class="button" style="vertical-align:middle"><span> <a href="/projects">To designs</a> </span></button>


<div class="icon-container"> 
<a href = "mailto: michaelgilligan246@gmail.com" class="fa fa-google"></a>
<a href = "https://www.linkedin.com/in/michael-gilligan-89b389241/" class="fa fa-linkedin"></a>
<a href="https://twitter.com/micha3lgilligan" class="fa fa-twitter"></a>
</div>

<img src="./img/pic.png" class="me"  />
</div>

</main>